services:
  crawlab:
    image: 'crawlabteam/crawlab:latest'
    container_name: tha_crawlab
    environment:
      - CRAWLAB_MONGO_HOST=mongo
      - CRAWLAB_MONGO_PORT=27017
      - CRAWLAB_MONGO_DB=crawlab
      - CRAWLAB_REDIS_ADDRESS=redis
      - CRAWLAB_REDIS_PORT=6379
      - CRAWLAB_LOG_LEVEL=info
      - CRAWLAB_LOG_PATH=/var/logs/crawlab
      - CRAWLAB_SERVER_REGISTER_TYPE=hostname
      - CRAWLAB_SERVER_REGISTER_IP=crawlab
    depends_on:
      - mongo
      - redis
    ports:
      - "8080:8080"
      - "9666:9666"
    volumes:
      - 'crawlab_logs:/var/logs/crawlab'
      - 'crawlab_data:/opt/crawlab'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.crawlab.rule=Host(`scrapers.thehockeyanalytics.com`)"
      - "traefik.http.routers.crawlab.entrypoints=https"
      - "traefik.http.routers.crawlab.tls=true"
      - "traefik.http.routers.crawlab.tls.certresolver=letsencrypt"
      - "traefik.http.services.crawlab.loadbalancer.server.port=8080"
      - "traefik.http.routers.crawlab.service=crawlab"
    restart: unless-stopped
    networks:
      - coolify

  mongo:
    image: 'mongo:4.4'
    container_name: tha_crawlab_mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - 'mongo_data:/data/db'
    restart: unless-stopped
    networks:
      - coolify

  redis:
    image: 'redis:6.2'
    container_name: tha_crawlab_redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - 'redis_data:/data'
    restart: unless-stopped
    networks:
      - coolify

volumes:
  crawlab_logs:
    driver: local
  crawlab_data:
    driver: local
  mongo_data:
    driver: local
  redis_data:
    driver: local

networks:
  coolify:
    external: true